@font-face {
    font-family: 'Source Sans Pro';
    src: url('/Fonts/Source_Sans_3/static/SourceSans3-SemiBold.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/Fonts/Montserrat/static/Montserrat-SemiBold.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/Fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Open_Sans';
    src: url('/Fonts/Open_Sans/static/static/OpenSans-SemiBold.ttf') format('truetype');
    font-display: swap;
}


html{
    scroll-behavior: smooth;
}

/* Media Query for small screens */

@media screen and (max-width : 320px ){
    footer{
        background-image: linear-gradient(135deg, #FDFDFB 10%, #F7F7EE 80%);
        padding-top: 20px;
        padding-bottom: 8px;
    }
    .bottom{
        display: flex;
        flex-direction: column;
        gap: 25px;
        width: 280px;
        margin: 0 auto;
    }
    .top_bottom{
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
        text-align: center;
    }
    .experts_numbers{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 7px;
    }
    .experts_numbers_text{
        font-size: 10px;
        font-family: 'Montserrat';
        color: #602600;
    }
    .phone_numbers{
        font-size: 10px;
        font-family: 'Source Sans pro', sans-serif;
        color: #e55;
    }
    .follow_us{
        font-size: 10px;
        font-family: 'Montserrat';
        color: #602600;
    }
    .follow_us:hover{
        cursor: pointer;
    }
    footer span{
        border: none;           
        height: 1px;          
        background-color: #e55;
        width: 150px;      
        margin: 0 auto;
    }
    
    
    .bottom_bottom{
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
        text-align: center;
    }
    .contact{
        display: flex;
        flex-direction: column;
        gap: 7px;
    }
    .contact_text{
        font-size: 10px;
        font-family: 'Montserrat';
        color: #602600;
    }
    .contact_details{
        display: flex;
        flex-direction: column;
        gap: 5px;
        font-family: 'Source Sans pro', sans-serif;
        font-size: 8px;
    }
    .entreprise{
        display: flex;
        flex-direction: column;
        gap: 7px;
    }
    .entreprise_text{
        font-size: 10px;
        font-family: 'Montserrat';
        color: #602600;
    }
    .entreprise_details{
        display: flex;
        flex-direction: column;
        gap: 5px;
        font-family: 'Source Sans pro', sans-serif;
        font-size: 8px;
        
    }
    .entreprise_details div:hover{
        cursor: pointer;
    }
    .copyrhight{
        font-family: 'Source Sans pro', sans-serif;
        text-align: center;
        font-size: 8px;
    }
    

    
.subscription_session{
    display: flex;
    padding: 45px;
}


.subscription-form h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    margin-bottom: 6px;
}

.subscription-form input[type="email"] {
    width: 150px;
    padding: 3px;
    margin-bottom: 3px;
    border: 1px solid #ccc;
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 3px;
    font-size: 10px;
}
.subscription-form input[type="email"]:focus{
    outline: none;
}

.subscription-form button {
    background-color: #f60;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 3px 5px;
    cursor: pointer;
    font-size: 8px;
    transition: background-color 0.3s;
}

.subscription-form button:hover {
    background-color: #e55; 
}

.subscription-form .note {
    font-family: 'Montserrat', sans-serif;
    font-size: 6px;
    color: #777;
    margin-top: 8px;
}
}




/* Media Query for medium-small screens */

@media screen and (min-width : 321px) and (max-width : 800px){
    footer{
        background-image: linear-gradient(135deg, #FDFDFB 10%, #F7F7EE 80%);
        padding-top: 30px;
        padding-bottom: 10px;
    }
    .bottom{
        display: flex;
        flex-direction: column;
        gap: 40px;
        width: 300px;
        margin: 0 auto;
    }
    .top_bottom{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        text-align: center;
    }
    .experts_numbers{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 7px;
    }
    .experts_numbers_text{
        font-size: 12px;
        font-family: 'Montserrat';
        color: #602600;
    }
    .phone_numbers{
        font-size: 12px;
        font-family: 'Source Sans pro', sans-serif;
        color: #e55;
    }
    .follow_us{
        font-size: 12px;
        font-family: 'Montserrat';
        color: #602600;
    }
    .follow_us:hover{
        cursor: pointer;
    }
    footer span{
        border: none;           
        height: 1px;          
        background-color: #e55;
        width: 200px;      
        margin: 0 auto;
    }
    
    
    .bottom_bottom{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        text-align: center;
    }
    .contact{
        display: flex;
        flex-direction: column;
        gap: 7px;
    }
    .contact_text{
        font-size: 11px;
        font-family: 'Montserrat';
        color: #602600;
    }
    .contact_details{
        display: flex;
        flex-direction: column;
        gap: 5px;
        font-family: 'Source Sans pro', sans-serif;
        font-size: 9px;
    }
    .entreprise{
        display: flex;
        flex-direction: column;
        gap: 7px;
    }
    .entreprise_text{
        font-size: 11px;
        font-family: 'Montserrat';
        color: #602600;
    }
    .entreprise_details{
        display: flex;
        flex-direction: column;
        gap: 5px;
        font-family: 'Source Sans pro', sans-serif;
        font-size: 9px;
        
    }
    .entreprise_details div:hover{
        cursor: pointer;
    }
    .copyrhight{
        font-family: 'Source Sans pro', sans-serif;
        text-align: center;
        font-size: 11px;
    }
    .subscription_session{
        display: flex;
        padding: 50px;
    }
    
    
    .subscription-form h2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        margin-bottom: 10px;
    }
    
    .subscription-form input[type="email"] {
        width: 200px;
        padding: 5px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        font-family: 'Source Sans Pro', sans-serif;
        border-radius: 5px;
        font-size: 12px;
    }
    .subscription-form input[type="email"]:focus{
        outline: none;
    }
    
    .subscription-form button {
        background-color: #f60; 
        font-family: 'Source Sans Pro', sans-serif;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 5px 7px;
        cursor: pointer;
        font-size: 10px;
        transition: background-color 0.3s;
    }
    
    .subscription-form button:hover {
        background-color: #e55; 
    }
    
    .subscription-form .note {
        font-family: 'Montserrat', sans-serif;
        font-size: 8px;
        color: #777;
        margin-top: 10px;
    }
}




/* Media Query for medium-large screens */

@media screen and (min-width : 801px) and (max-width : 1200px){
    footer{
        background-image: linear-gradient(135deg, #FDFDFB 10%, #F7F7EE 80%);
        padding-top: 60px;
        padding-bottom: 10px;
    }
    .bottom{
        display: flex;
        flex-direction: column;
        gap: 40px;
        width: 760px;
        margin: 0 auto;
    }
    .top_bottom{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .experts_numbers{
        display: flex;
        align-items: center;
        gap: 13px;
    }
    .experts_numbers_text{
        font-size: 14px;
        font-family: 'Montserrat';
        color: #602600;
    }
    .phone_numbers{
        font-size: 14px;
        font-family: 'Source Sans pro', sans-serif;
        color: #e55;
    }
    .follow_us{
        font-size: 14px;
        font-family: 'Montserrat';
        color: #602600;
    }
    .follow_us:hover{
        cursor: pointer;
    }
    footer span{
        border: none;           
        height: 2px;          
        background-color: #e55;
        width: 580px;      
        margin: 0 auto;
    }
    
    
    .bottom_bottom{
        display: flex;
        justify-content: space-between;
    }
    .contact{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .contact_text{
        font-size: 13px;
        font-family: 'Montserrat';
        color: #602600;
    }
    .contact_details{
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-family: 'Source Sans pro', sans-serif;
        font-size: 12px;
    }
    .entreprise{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .entreprise_text{
        font-size: 13px;
        font-family: 'Montserrat';
        color: #602600;
    }
    .entreprise_details{
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-family: 'Source Sans pro', sans-serif;
        font-size: 12px;
        
    }
    .entreprise_details div:hover{
        cursor: pointer;
    }
    .copyrhight{
        font-family: 'Source Sans pro', sans-serif;
        text-align: center;
        font-size: 13px;
    }
    
    .subscription_session{
        display: flex;
        padding: 50px;
    }
    .subscription-form h2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        margin-bottom: 10px;
    }
    
    .subscription-form input[type="email"] {
        width: 170px;
        padding: 5px;
        margin-bottom: 5px;
        border: 1px solid #ccc;
        font-family: 'Source Sans Pro', sans-serif;
        border-radius: 5px;
        font-size: 10px;
    }
    .subscription-form input[type="email"]:focus{
        outline: none;
    }
    
    .subscription-form button {
        background-color: #f60;
        font-family: 'Source Sans Pro', sans-serif;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 5px 8px;
        cursor: pointer;
        font-size: 10px;
        transition: background-color 0.3s;
    }
    
    .subscription-form button:hover {
        background-color: #e55; 
    }
    
    .subscription-form .note {
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        color: #777;
        margin-top: 5px;
    }
}



/* Media Query for large screens */

@media screen and (min-width : 1201px ){
footer{
    background-image: linear-gradient(135deg, #FDFDFB 10%, #F7F7EE 80%);
    padding-top: 90px;
    padding-bottom: 20px;
}
.bottom{
    display: flex;
    flex-direction: column;
    gap: 70px;
    width: 1100px;
    margin: 0 auto;
}
.top_bottom{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.experts_numbers{
    display: flex;
    align-items: center;
    gap: 20px;
}
.experts_numbers_text{
    font-size: 16px;
    font-family: 'Montserrat';
    color: #602600;
}
.phone_numbers{
    font-size: 16px;
    font-family: 'Source Sans pro', sans-serif;
    color: #e55;
}
.follow_us{
    font-size: 16px;
    font-family: 'Montserrat';
    color: #602600;
}
.follow_us:hover{
    cursor: pointer;
}
footer span{
    border: none;           
    height: 2px;          
    background-color: #e55;
    width: 800px;      
    margin: 0 auto;
}


.bottom_bottom{
    display: flex;
    justify-content: space-between;
}
.contact{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contact_text{
    font-size: 14px;
    font-family: 'Montserrat';
    color: #602600;
}
.contact_details{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: 'Source Sans pro', sans-serif;
    font-size: 13px;
}
.entreprise{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.entreprise_text{
    font-size: 14px;
    font-family: 'Montserrat';
    color: #602600;
}
.entreprise_details{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: 'Source Sans pro', sans-serif;
    font-size: 13px;
    
}
.entreprise_details div:hover{
    cursor: pointer;
}
.copyrhight{
    font-family: 'Source Sans pro', sans-serif;
    text-align: center;
    font-size: 14px;
}
.subscription_session{
    display: flex;
}


.subscription-form h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    margin-bottom: 15px;
}

.subscription-form input[type="email"] {
    width: 200px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 5px;
    font-size: 12px;
}
.subscription-form input[type="email"]:focus{
    outline: none;
}

.subscription-form button {
    background-color: #f60; 
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s;
}

.subscription-form button:hover {
    background-color: #e55; 
}

.subscription-form .note {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #777;
    margin-top: 10px;
}
}